#container {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

#heading {
  opacity: 0;
}

#simple {
  position: fixed;
  top: 160px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-family: 'Inconsolata', monospace;
  color: rgba(207, 207, 207, 0.807);
  font-size: 26px;
  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards, slideIn 1s ease-in;
}

#send-btn {
  width: 40px;
  transition: all .1s ease-in-out;
}

#send-btn:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

#contact {
  font-family: 'Inconsolata', monospace;
  display:flex;
  position: fixed;
  top: 155px;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100%;
  width: 650px;
}

body {
  font-family: 'Teko', sans-serif;
  font-size: 50px;
  color: rgb(248, 248, 248);
  height: 100vh;
  margin: 0;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

body:focus {
  outline: none !important;
}

.title-container {
  position: fixed;
  top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
}

img {
  margin-top: 0px;
}

.logo-container {
  opacity: 0;
  display: flex;
  align-items: center;
  padding-bottom: 9px;
}

.logo {
  max-height: 100%;
  width: 78px;
}

h1 {
  font-family: 'Ropa Sans', sans-serif;
  font-size: 100px;
  letter-spacing: -6px;
  padding-right: 8px;
  margin-left: 1px;
  background: linear-gradient(160deg, #87b1ff 20%, #546bffb6);
  -webkit-background-clip: text; /* For Webkit browsers (Chrome, Safari) */
  background-clip: text; /* Standard property */
  color: transparent; /* Hide the original text color */
}



.content {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 95vh;
  display: grid;
  place-content: center;
  text-align: center;
}

.line {
  position: fixed;
  top: 140px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  opacity: 1;
  gap: 5em;
  width: 0%;
  border-top: 1px solid rgba(157, 157, 157, 0.486);
  text-align: center;
  animation: line 1.5s linear forwards, fadeIn 2.5s ease-in-out forwards;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f100; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bdbdbc24; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b7d0ff3b; 
}


pre, code {
  white-space: pre-wrap;
}

ul.chatbox {
  margin-bottom: 30px;
  padding-left: 0px !important;
}

.chatbot {
  user-select: text;
  position: relative;
  width: 100%;
  max-width: 700px;
  background: #ffffff00;
  border-radius: 15px;
  opacity: 1;
  transition: all 0.1s ease;
}

.chatbot .chatbox {
  overflow-y: auto;
  height: calc(100% - 450px);
  padding: 30px 20px 100px 0px !important;
}

.chatbox .chat {
  display: flex;
  list-style: none;
}
.chatbox .outgoing {
  justify-content: flex-end;
  margin-left: 68px;
}
.chatbox .incoming span {

  color: #fff;
  font-size: 36px;
  cursor: default;
  text-align: center;
  line-height: 38px;
  align-self: flex-end;
  background: #649aff00;
  border-radius: 4px;
  padding-bottom: 14px;
  padding-left: 10px;
  margin-right: 10px;
}
.chatbox .chat p {
  word-wrap: break-word;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
  padding: 12px 12px;
  border-radius: 10px 10px 0 10px;
  max-width: 100%;
  font-size: 0.95rem;
  color: #ffffff;
  background: #040404d3;
  border: solid 1px #cfcfcf5e;
}

.chatbox .chat p.error {
  color: #ffffff;
  background: #040404a2;
  border: solid 1px #91b7ff60;
}
.chatbox .incoming p {
  color: #ffffff;
  background: #040404d3;
  border: solid 1px #91b7ff60;
  border-radius: 10px 10px 10px 0;
}
.chatbot .chat-input {
  width: 100%;
  height: auto; 
  background: #bdbdbc1c;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  opacity: 0;
  animation: fadeIn 3s ease-in-out forwards;
}

.chatbot .chat-input:hover,
.chatbot .chat-input.clicked {
  outline: solid 2px #91b7ff60;
}

.chat-input textarea {
  background: transparent;
  color: #FFF;
  max-height: 20px;
  width: 90%;
  border: none;
  outline: none;
  resize: none;
  padding: 15px 15px 15px 15px;
  margin: auto;
  font-size: 1rem;
  margin-bottom: 5px;
  margin-top: 8px;
  transition: .5s ease-in-out;
}

.chat-input span {
  display: flex;
  font-family: 'Inconsolata', monospace;
  background: transparent;
  border: none;
  color: rgba(207, 207, 207, 0.807);
  font-size: 32px;
  transition: 2s;
  padding: 5px 15px 5px 15px;
  letter-spacing: -1px;
}

.chat-input span:hover {
  cursor: pointer;
  transition:all .5s ease-in-out;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: rgba(255, 255, 255, 0.325);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}}


@keyframes slideIn {
  0%{
    transform: translateY(-10px);
  }
  100%{
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes move {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}


@keyframes line {
  from {
    width: 0px;
  }

  to {
    left: 0%;
    width: 650px;
  }
}

@keyframes line-short {
  from {
    width: 0px;
  }

  to {
    left: 0%;
    width: 450px;
  }
}

@keyframes line-shorter {
  from {
    width: 0px;
  }

  to {
    left: 0%;
    width: 600px;
  }
}

@media (max-width: 800px) {

  #send-btn {
    width: 35px;
  }

  .chatbot .chatbox {
    height: calc(100% - 410px);
    padding: 30px 10px 100px 0px !important;
  }

  .chatbox .outgoing {
    margin-left: 67px;
  }

  .title-container {
    height: 100px;
  }

  h1 {
    font-size: 80px;
    letter-spacing: -4px;
  }

  #contact {
    max-width: 450px;
    width: 90%;
    top: 120px;
  }

  #simple {
    font-size: 22px;
    top: 130px;
  }

  .chat-input textarea  {
    width: 85%;
    font-size: 0.85rem;
  }

  .logo-container{
    padding-bottom: 12px;
  }

  .logo {
    max-height: 100%;
    width: 62px;
  }

  .logo-container {
    padding-bottom: 6px;
  }

  .line {
    max-width: 88%;
    top: 115px;
    animation: line-short 1.5s linear forwards, fadeIn 1.5s ease-in forwards;
  }

  .chatbox .incoming span {
    font-size: 35px;
    margin: 0px 10px 0px 0px;
    padding-bottom: 14px;
  }

}

@media (max-width: 380px) {

  .chatbox .outgoing {
    margin-left: 60px;
  }

  .chatbox .incoming span {
    font-size: 30px;
  }

  .title-container {
    height: 80px;
  }

  h1 {
    font-size: 60px;
  }

  #simple {
    font-size: 18px;
    top: 105px;
  }

  #contact {
    width: 90%;
    top: 85px;
  }

  .logo-container{
    padding-bottom: 5px;
  }

  .logo {
    max-height: 100%;
    width: 47px;
  }

  .chat-input textarea  {
    width: 85%;
  }

  .chatbot .chatbox {
    height: calc(100% - 380px);
  }

  .line {
    max-width: 80%;
    top: 90px;
  }
}

html {
  visibility: visible;
  opacity: 1;
}